{% extends '/views/base.html' %}
  <body {% block body_attributes %} {% endblock %}>

  {% block header %}
  <header class="aa-header aa-color-light" data-js-header>
    <section class="wrapper container-fluid">
      <div class="aa-header__logo">
        <a href="#">
          Anna Astesano
      </a>
      </div>
      <ul class="aa-header__menu">
        <li>
          <a href="#bio">
            Bio<span class="aa-u-display-none-mobile">graphy</span>
          </a>
        </li>
        <li>
          <a href="#events">
            {{_(doc.events)}}
          </a>
        </li>
        <li>
          <a href="#media">
            {{_(doc.media)}}
          </a>
        </li>
        <li>
          <a href="#contacts">
            {{_(doc.contact)}}
          </a>
        </li>
      </ul>
    </section>
  </header>
  {% endblock%}

{% block body %}
<section class="aa-hero">
  <section class="wrapper container-fluid">
    <div class="aa-hero__social-side-wrp">
      <ul>
        <li class="aa-hero__social-link">
          <a class="link link--text-animated" href="https://www.instagram.com/globetrotterharp/" target="_blank">
            <img src="/static/images/icons/instagram.svg" alt="" class="link__icon">
            <div class="link__animation-wrp">
              <div class="link__animation-text">
                {{_(doc.instagram)}}
              </div>
            </div>
          </a>
        </li>
        <li class="aa-hero__social-link">
          <a class="link link--text-animated" href="mailto:annarpa93@gmail.com">
            <img src="/static/images/icons/mail.svg" alt="" class="link__icon">
            <div class="link__animation-wrp">
              <div class="link__animation-text">
                {{_(doc.mail)}}
              </div>
            </div>
          </a>
        </li>
        <li class="aa-hero__social-link">
          <a class="link link--text-animated" href="/static/images/press-kit.zip">
            <img src="/static/images/icons/download.svg" alt="" class="link__icon">
            <div class="link__animation-wrp">
              <div class="link__animation-text">
                {{_(doc.press_kit)}}
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="aa-hero__harpist">
      {{_(doc.harpist)}}
      <!-- <div>
        <span>h</span>
        <span>ar</span>
        <span>pist</span>
      </div> -->
    </div>

  </section>
</section>
<section id="bio" class="aa-section aa-bio">
  <section class="wrapper container-fluid aa-color-light">
    <div class="row">
      <div class="col-xs-12 col-tablet-4 col-tablet-offset-1">
        <h1 class="beta aa-bio__title">
          {{_(doc.biography)}}
        </h1>
        <p>
          {{_(doc.description_p1)}}
        </p>
        <p>
          {{_(doc.description_p1)}}
        </p>
      </div>
      <div class="col-xs-12 col-tablet-4 col-tablet-offset-1">
        <p>
          {{_(doc.description_p3)}}
        </p>
        <p>
          {{_(doc.description_p4)}}
        </p>
      </div>
    </div>
  </section>
</section>

<section id="events" class="aa-section aa-events">
  <div class="wrapper container-fluid">
    <div class="row">
      <div class="col-xs-12 col-tablet-10 col-tablet-offset-1">
        <h1 class="beta aa-events__title">
          {{_(doc.events)}}
        </h1>
        <div class="aa-events__container">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="media" class="aa-section aa-media aa-color-light">
  <div class="wrapper container-fluid">
    <div class="row">
      <div class="col-xs-12 col-tablet-10 col-tablet-offset-1">
        <h1 class="beta aa-media__title">
          {{_(doc.media)}}
        </h1>
        <div class="aa-media__medias">
          <div class="aa-media__media">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/264447870&color=%232d2b29&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          </div>
          <div class="aa-media__media">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/452839503&color=%452839503&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          </div>
        </div>
        <div class="aa-media__medias">
          <div class="aa-media__media">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/RzFUdmUUeyw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
          <div class="aa-media__media">
            <div class="video-container">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/1dWXsZ0AL74?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contacts" class="aa-section aa-contact">
    <div class="wrapper container-fluid">
        <div class="row">
          <div class="col-xs-12 col-tablet-4 col-tablet-offset-1">
              <h1 class="beta aa-bio__title">
                {{_(doc.contact)}}
              </h1>
              <p>
                <a href="https://www.instagram.com/globetrotterharp/" target="_blank">
                  <img src="/static/images/icons/instagram.svg" alt="" class="link__icon">
                  {{_(doc.instagram)}}
                </a>
              </p>
              <p>
                <a href="mailto:annarpa93@gmail.com">
                  <img src="/static/images/icons/mail.svg" alt="" class="link__icon">
                  {{_(doc.mail)}}
                </a>
              </p>
              <p>
                <a href="/static/images/press-kit.zip">
                  <img src="/static/images/icons/download.svg" alt="" class="link__icon">
                  {{_(doc.press_kit)}}
                </a>
              </p>

            </div>
            <form class="col-xs-12 col-tablet-5 col-tablet-offset-1"
                action="https://formspree.io/annarpa93@gmail.com"
                method="POST">
              <label for="name">Your name:</label>
              <input type="text" id="name" name="name">
              <label for="email">Your email address:</label>
              <input type="email" id="email" name="_replyto">
              <label for="message">Message:</label>
              <input type="text" name="_gotcha" style="display:none">
              <input type="hidden" name="_subject" value="Message via http://annaastesano.com">
              <textarea id="message" name="message" rows="10" required></textarea>
              <button type="submit">
                {{_(doc.send)}}
              </button>
            </form>
        </div>
</section>

{% endblock %}
